body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.section {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}

/*----------------------------------*/
/****************BUTTONS****************/
/*----------------------------------*/

.btn-primary {
  border-radius: 30px;
  background-color: #0d98ba !important;
  border: 1px solid #0d98ba !important;
  color: #ffffff !important;
  box-shadow: 0 3px 5px 0 rgba(8, 91, 112, 0.2);
}

.btn-primary:hover {
  background-color: #0a7a95 !important;
  border-color: #0a7a95 !important;
  color: #ffffff !important;
  box-shadow: 0 3px 5px 0 rgba(8, 91, 112, 0.4);
}

.btn-soft-primary {
  background-color: rgba(8, 91, 112, 0.1) !important;
  border: 1px solid #0d98ba !important;
  color: #0d98ba !important;
  box-shadow: 0 3px 5px 0 rgba(8, 91, 112, 0.2);
  width: 38px;
  height: 38px;
  border-radius: 35px;
  padding-left: 0;
  padding-right: 0;
  font-size: 15px;
}

.btn-soft-primary:hover {
  background-color: #0a7a95 !important;
  border-color: #0a7a95 !important;
  color: #ffffff !important;
  box-shadow: 0 3px 5px 0 rgba(8, 91, 112, 0.4);
}

/*----------------------------------*/
/****************NAVBAR****************/
/*----------------------------------*/

.navbar {
  transition: all 0.5s ease;
  padding: 0;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  letter-spacing: 0.05rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0px 6px;
  transition: all 0.3s ease;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active, .navbar .navbar-nav .nav-item .nav-link.active {
  color: #0d98ba !important;
}

.navbar .navbar-brand {
  color: #0d98ba;
  line-height: 70px;
  padding: 0;
}

.navbar .navbar-toggler {
  padding: 0px;
  border: none;
  font-size: 24px;
}

.navbar.nav-sticky {
  color: #333 !important;
  background: #ffffff;
  margin-top: 0px;
  box-shadow: 0 0 3px rgba(36, 39, 44, 0.2);
}

@media (min-width: 992px) {

  .navbar.nav-light .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }

  .navbar.nav-light.nav-sticky .nav-item .nav-link {
    color: #333333;
  }
}

@media (max-width: 991px) {
  .navbar {
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(36, 39, 44, 0.2);
  }

  .navbar .list-inline .list-inline-item {
    margin-bottom: 20px !important;
  }

  .number_phone {
    color: #0d98ba !important;
    font-size: 1.1em;
  }
}

.number_phone {
  color: #ffffff;
  font-size: 1.1em;
}

.number_phone.phone {
  color: #0d98ba !important;
}

/*----------------------------------*/
/****************HOME****************/
/*----------------------------------*/

#home {
  width: 100%;
  height: 100vh;
  background: url("../img/bg/hero.jpg") top center;
  background-size: cover;
  position: relative;
}

#home:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}

#home h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 24px;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home {
    text-align: center;
  }

  #home .container {
    padding-top: 40px;
  }

  #home h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #home h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*----------------------------------*/
/*************ADVANTAGES*************/
/*----------------------------------*/

.advantages-bg {
  background-color: rgba(214, 251, 255, 0.2);
}

.advantages .icon-style {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-n80 {
  margin-top: -80px;
}

.shadow {
  box-shadow: 0 0 3px rgba(36, 39, 44, 0.2) !important;
}

.advantages:hover.advantage-shadow-md {
  box-shadow: 0 25px 25px rgba(36, 39, 44, 0.1) !important;
}

.advantages.advantage-primary:hover i {
  color: #ffffff;
}

.advantages.advantage-primary:hover .icon-style {
  background: #0d98ba !important;
}

/*----------------------------------*/
/***************COURSES***************/
/*----------------------------------*/

.courses-bg {
  background: linear-gradient(180deg, rgba(214, 251, 255, 0.2) 0%, rgba(255, 253, 247, 1) 20%);
}

.course-style .course-title {
  font-size: 24px;
}

.course-style {
  border: 1px solid #F1F3F8;
  border-radius: 7px;
  transition: all .4s ease;
  background: #ffffff;
}

.course-style .course-content {
  padding: 10px 20px 20px 20px;
  position: relative;
}

.course-style .course-thumb {
  padding: 20px;
  position: relative;
}

.course-style .category-1 {
  background: linear-gradient(90deg, #16e3a6, #1ca633);
  padding: 8px 20px;
  color: #ffffff;
  border-radius: 7px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.course-style .category-2 {
  background: linear-gradient(90deg, #f16205, #d98d00);
  padding: 8px 20px;
  color: #ffffff;
  border-radius: 7px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.course-style .course-footer {
  padding-top: 10px;
  border-top: 1px solid #eee;
  margin-top: 10px;
}

.course-style:hover {
  border-color: transparent;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.course-meta {
  margin-bottom: 10px;
}

.course-meta span {
  margin-right: 15px;
  font-size: 16px;
}

.course-meta span:last-child {
  margin-right: 0px;
}

.course-meta i, .time i {
  margin-right: 5px;
  color: #0a7a95;
}

/*----------------------------------*/
/****************FORM****************/
/*----------------------------------*/

.form-control {
  height: 48px;
}

.form-control:active, .form-control:focus {
  border-color: #0a7a95;
}

.form-control:hover, .form-control:active, .form-control:focus {
  box-shadow: none !important;
}

.modal-content {
  border-radius: 20px;
}

/*----------------------------------*/
/************PHOTOGALLERY************/
/*----------------------------------*/

.photogallery-bg {
  background: linear-gradient(180deg, rgba(255, 253, 247, 1) 0%, rgba(214, 251, 255, 0.2) 20%);
}

/*.img-thumbnail {*/
/*  width: 300px !important;*/
/*  height: 200px !important;*/
/*}*/

/*----------------------------------*/
/************FOOTER************/
/*----------------------------------*/

.footer-section{
  background: linear-gradient(180deg, rgba(214, 251, 255, 0.2) 0%, rgba(255, 253, 247, 1) 20%);
}
.instagram {
  color: #0d98ba;
}